<nav class="breadcrumbs" aria-label="breadcrumbs">
  {{#if page.breadcrumbs}}
      <ul>
        {{#with page.componentVersion}}
            {{#if (and ./title (ne ./title @root.page.breadcrumbs.0.content))}}
                <li>
                    <a href="{{{relativize ./url}}}">{{{./title}}}</a>
                </li>
            {{/if}}
        {{/with}}
        {{#each page.breadcrumbs}}
            <li>
                {{~#if (and ./url (eq ./urlType 'internal'))~}}
                    <a href="{{{relativize ./url}}}">{{{./content}}}</a>
                {{~else~}}
                    {{{./content}}}
                {{~/if~}}
            </li>
        {{/each}}
      </ul>
  {{/if}}
</nav>