<main class="article">
    {{> toolbar}}
    <div class="content">
        {{#if (eq page.layout '404')}}
            {{> article-404}}
        {{else}}
            {{> toc}}
            {{> article}}
        {{/if}}
    </div>
</main>