<div class="nav-container"{{#if page.component}} data-component="{{page.component.name}}" data-version="{{page.version}}"{{/if}}>
  <aside class="nav">
    <div class="panels">
        {{> nav-menu}}
        {{> nav-explore}}
    </div>
  </aside>
</div>
